<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pmc-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group pmc-main">
	<!-- wp:spacer {"height":"var:preset|spacing|layout-8x"} -->
	<div style="height:var(--wp--preset--spacing--layout-8x)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-title {"level":1,"fontSize":"40"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|layout-10x"} -->
	<div style="height:var(--wp--preset--spacing--layout-10x)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
